@media screen and (min-width: 768px) {
    body {
        background:aliceblue;
    }

    .container-fluid {
        width: 100%;
    }

    .carousel-item > img {
        width: 98%;
        height: 100%;
    }

    .card {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1rem;
    }

    .rodape > h3 {
        font-size: 1rem;
    }
}